.visible-s {
  display: none !important;
}
.visible-sm {
  display: none !important;
}
.visible-m {
  display: none !important;
}
.visible-l {
  display: none !important;
}
.visible-lg {
  display: none !important;
}


@media only screen and (max-width: $screen-sm-min) {
  .visible-s {
    display: block !important;
  }
}

.s-11 {
  width: 100%;
}
.s-12 {
  width: 50%;
}
.s-13 {
  width: 33.3333333%;
}
.s-14 {
  width: 25%;
}
.s-15 {
  width: 20%;
}


@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-m-min) {
  .sm-11 {
    width: 100%;
  }
  .sm-12 {
    width: 50%;
  }
  .sm-13 {
    width: 33.3333333%;
  }
  .sm-14 {
    width: 25%;
  }
  .sm-15 {
    width: 20%;
  }
  .sm-34 {
    width: 75%;
  }
  .visible-sm {
    display: block !important;
  }
}

@media only screen and (min-width: $screen-m-min) and (max-width: $screen-l-min) {
  .m-11 {
    width: 100%;
  }
  .m-12 {
    width: 50%;
  }
  .m-13 {
    width: 33.3333333%;
  }
  .m-14 {
    width: 25%;
  }
  .m-15 {
    width: 20%;
  }
  .m-34 {
    width: 75%;
  }
  .visible-m {
    display: block !important;
  }
}

@media only screen and (min-width: $screen-l-min) and (max-width: $screen-lg-min) {
  .l-11 {
    width: 100%;
  }
  .l-12 {
    width: 50%;
  }
  .l-13 {
    width: 33.3333333%;
  }
  .l-14 {
    width: 25%;
  }
  .l-15 {
    width: 20%;
  }
  .l-34 {
    width: 75%;
  }
  .visible-l {
    display: block !important;
  }
}
@media only screen and (min-width: $screen-lg-min){
  .lg-11 {
    width: 100%;
  }
  .lg-12 {
    width: 50%;
  }
  .lg-13 {
    width: 33.3333333%;
  }
  .lg-14 {
    width: 25%;
  }
  .lg-15 {
    width: 20%;
  }
  .lg-34 {
    width: 75%;
  }
  .visible-lg {
    display: block !important;
  }
}

.grid-col {
  float: left;
  position: relative;
}

.container {
  width: 1140px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}

// Adding padding around item children
@mixin has-gutter($border-width, $color, $minus-width, $minus-height) {
  width: calc(100% - #{$minus-width}*2);
  height: calc(100% - #{$minus-height}*2);
  border: $border-width solid $color;
  display: block;
}