.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.pos-f {
	position: fixed;
}

.pos-s {
	position: static;
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

.float-n {
	float: none !important;
}

.center-block {
	@extend .pos-r;
	float: none !important;
	display: block;
	margin: 0 auto;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.clr-bth {
  clear: both; 
}

.clear-both {
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

.disable-scroll {
	overflow: hidden;
}