h1, h2, h3, h4, h5, h6, a, p, li, span, b, i, strong, label, input, th, td, select {
  font-family: 'Proxima Nova';
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 1;
}

p {
  font-size: 14px;
}

a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}