.chart {
  &--bar {
    .main-bar {
      fill: $c-turquoise;
    }

    .bg-bar {
      fill: $white-lilac;
    }

    .bar-label {
      font-family: 'Proxima-Nova', sans-serif;
      font-weight: 700;
      font-size: 11px;
      fill: $pumice;
    }

    .y.axis text {
      font-family: 'Proxima-Nova', sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-anchor: end !important;
      fill: $pumice;
    }

    .x.axis line, .y.axis line, .x.axis text, .domain {
      display: none;
    }
  }
  &--pie {
    .pie-label, .top-label {
      font-family: 'Proxima-Nova', sans-serif;
      font-weight: bold;
    }
  }
}