#Diagram {
  max-width: 920px;
  margin: 0 auto;
  background: $c-white;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  display: flex;
  .col {
    .heading {
      padding-bottom: 10px;
      h3 {color: $c-boulder;}
    }
    .content {
      p.text {
        padding: 0;
      }
      .text {
        &--with-border-bottom {
          @include border-bottom(1px, $ion, dotted);
        }
      }
    }
    &--history {
      width: 180px;
      display: block;
      p.text {
        font-size: 13px;
        font-weight: 700;
        color: $c-stardust;
      }
    }
    &--result {
      width: 280px;
      display: block;
      .part {
        float: left;
      }
      table {
        h4, p, a {
          color: $c-stardust;
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
        }
        p.status {
          color: $c-white;
          padding: 4px 5px 3px 3px;
          font-size: 9px;
          border-radius: 3px;
          text-align: center;
          position: relative;
          top: -2px;
          margin-left: 5px;
          &.bg-fail {
            background: #E5A32A;
          }
          &.bg-pass {
            background: #87C392;
          }
        }
        a {
          color: #3F7480;
          display: block;
          margin-left: 5px;
          cursor: pointer;
        }
        .timestamp-col {
          p {
            position: relative;
            top: 6px;
            &:last-child {
              font-weight: 600;
              top: 8px;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      width: calc(100% - 280px - 180px);
    }
    .content:after {
      content: "";
      clear: both;
    }
  }

  @media only screen and (max-width: 768px) {
    display: block;
    max-width: calc(100% - 70px);
    width: 100%;
    .col--result .part {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
    .col--history {
      margin-top: 20px;
      width: 100%;
    }
    .col:nth-child(2) {
      width: 100%;
    }
  }
}